@media screen and (min-width: 1400px){
    #home-box{
        zoom: 0%;
        margin-bottom: 0px;
    }
    .container-button{
        margin-bottom: 0px;
    }
    .container-info{
        margin-bottom: 1px;
    }
}

@media screen and (min-width: 1200px){
    #home-container{
        zoom: 0%;
    }
    .container-button{
        margin-bottom: -35px;
    }
    .container-info{
        margin-bottom: 102px;
    }
}

@media screen and (min-width: 700px){
    .container-info{
        position: relative;
        top: 115px;
    }

@media screen and (min-width: 375px){
    #home{
        overflow-y: hidden;
      }
        .home-container{
            position: relative;
            top: -65px;
        }
    }
}
