@media screen and (min-width: 1400px){
    #home-box{
        zoom: 0%;
        margin-bottom: 0px;
    }
    .container-button{
        margin-bottom: 0px;
    }
    .container-info{
        margin-bottom: 1px;
    }
}

@media screen and (min-width: 1200px){
    #home-container{
        zoom: 0%;
    }
    .container-button{
        margin-bottom: -35px;
    }
    .container-info{
    }
}

@media screen and (min-width: 700px){
    .container-info{
    }

@media screen and (min-width: 375px){
    #home{
      }
        .home-container{
        }
    }
}
