* {
    padding: 0;
    margin: 0;
  }
  body{
    overflow-y: hidden;
    background: #000;
  }
  
  @keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
  }
  #home {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #home-container {
    min-height: 100vh;
    zoom: 185%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  #home-box {
    margin-bottom: 830px;
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .container-button {
    width: 35%;
  }
  
  .container-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  
  .home-button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    height: 60px;
    border: 1px;

    border-color: whitesmoke;
    border-style: solid;
    
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
  }
  
  .home-button:hover {
    transition: 0.2s;
    
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #fff, #fff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #fff, #fff);

    color: #000;
  }
  
  .text {
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 60%;
  }
  
  .text-style {
    font-family: sans-serif;
    color: white;
  }
  
  #box-name-and-img {
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .text-info {
    line-height: 0px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  p {
    margin-top: 10px;
  }